@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}
/*==============================================*/
*{
  margin:0;
  padding:0;
  border:0;
}
body{
  background: #FFFFFF;
  color:#68737B;
  font-family: 'Poppins-Medium',sans-serif;
  margin:0;
}
h2{
  font-size: 250%;
  font-weight: 700;
  text-align: center;
  padding:2%;
}
h3{
  font-size:175%;
  font-weight: 400;
  padding :5% 0;
}
p{
  font-size: 160%;
}
img{
  max-width: 100%;
  height:auto;
  width: auto;
  margin-bottom:-4px;
  padding-bottom: 20%;
}

/*======================*/
#myHeader{
  background-color:rgb(253, 252, 252);
  width: 100%;
  height: 80px;
}
#header-content{
margin: 0 auto;
font-family: Poppins-Medium;
background-color: #fff;
float: left;
width: 100%;
height: 80px;
}
#logo{
  margin-left:12px;
  margin-right:12px;
  margin-bottom: 12px;
  width: 210px;
  height:65px;
  float:left;
  display: block;
}

nav{
  padding: 35px 30px 0 0;
  float: right;
}
#menu-icon{
  display:hidden;
  width:40px;
  height:40px;
  background:url("../img/menu1.png") no-repeat;
}
a:hover#menu-icon{
  border-radius: 4px 4px 0 0;

}
ul{
  list-style-type:none;
}
nav ul li{
  font-size: 120%;
  float: left;
}
nav ul li a{
  color:#354452;
  font-weight: bold;
  text-decoration: none;
  font-family: Poppins-Medium,sans-serif;
  font-size: 100%;
  padding-left:5px;
  padding-right:10px;
}
nav ul li a:hover{
  color:#9f4eb6;
}
.current{
  color:#6D88A0;
}

#first-page img{
padding-bottom: 0;
height: 660px;
width: 100%;
}
#first-page{
  float:left;
}



/*.dct-banner{
  float: left;
  width: 100%;
}
#doctor-banner{
  background-color: rgb(63, 168, 63);
  height: 35px;
  padding-top: 6px;
  padding-bottom: 2px;
}
#doctor-banner p{
  font-size: 20px;
  text-align: center;
  padding: 0;
  color: rgb(240, 243, 245);
}
.one-fourth{
  width: 25%;
  float: left;
  text-align: center;
}
.one-fourth img{
  width: 100%;
}
#reg{

}
#prof{

}
#rec{

}
#pres{

}*/

.pat-banner{
  float: left;
  width: 100%;
}
#patient-banner{
  background-color: rgb(63, 168, 63);
  height: 35px;
  padding-top: 6px;
  padding-bottom: 2px;
}
#patient-banner p{
  font-size: 120%;
  text-align: center;
  padding: 0;
  color: rgb(240, 243, 245);
}
.pat-feat-card{
  width: 100%;
  float: left;
  height: auto;
  max-height: 300px;
  background-color: #DDDDDD;
}
.one-fifth{
  width: 20%;
  height: 100%;
  float: left;
  text-align: center;
}
.img-pat{
  height:80%;
}
.text-pat{
  height: 20%;
  max-height: 40px;
}
.pat-card{
  padding:2px;
  max-width: 140px;
  width: 90%;
  height: auto;
  padding-bottom: 0;
}
.pat-card-text{
  font-family: Poppins-Medium;
  font-size: 100%;
  padding-top:0; 
}
.patient-body{
  width: 100%;
  float: left;
  padding-top: 2px;
  background-color: purple;
  border-top:2px solid purple;
}
/*#prof{
  border-right: 2px solid rgb(100, 65, 100);
}
#doc{
  border-right: 2px solid rgb(100, 65, 100);
}
#med{
}
#symp{
  border-right: 2px solid rgb(100, 65, 100);
}
#rem{
  border-right: 2px solid rgb(100, 65, 100);
}*/


.left-wrapper{
  float: left;
  width: 100%;
  max-height: 500px;
  background-color: rgb(255, 255, 255);
}
.right-wrapper{
  float: right;
  width: 100%;
  max-height: 500px;
  background-color: #C7D7E8;
}
.left-wrapper article{
  float: left;
  margin: 0 auto;
  width: 35%;
  height: auto;
  max-height: 500px;
  padding-top:20px;
}
.left-wrapper aside{
  float: right;
  margin: 0 auto;
  width: 65%;
  height: auto;
  max-height: 500px;
  padding-top: 20px;
}
/*=========*/
.right-wrapper article{
  float: left;
  margin: 0 auto;
  width: 65%;
  height: auto;
  max-height: 500px;
  padding-top:20px; 
}
.right-wrapper aside{
  float: right;
  margin: 0 auto;
  width: 35%;
  height: auto;
  max-height: 500px;
  padding-top: 20px;
}
/*============*/
aside h2{
  font-size: 180%;
  padding-bottom: 0;
  text-align: center;
}
aside p{
  font-size: 120%;
  padding-top: 0;
  text-align: center;
  font-family: Poppins-Regular;
  /*text-align: left;*/
  display: inline;
}
aside i{
  color: purple;
}
article h2{
  font-size: 180%;
  padding-bottom: 0;
  text-align: center;
}
article p{
  font-size: 120%;
  padding-top: 0;
  text-align: center;
  font-family: Poppins-Regular;
  /*text-align: right;*/
  display: inline;
}
article i{
  color: purple;
  padding-left: 10%;
}
.index-pat-card1{
  width: 100%;
  height: auto;
  max-width: 400px;
  padding: 10%;
  padding-top: 17%;
  padding-left: 15%;
  float: left;
}
.index-pat-card2{
  /*width: 100%;
  height: auto;*/
  /*padding: 10%;*/
  padding-top: 5%;
  padding-right: 20%;
  padding-bottom:10%;
  max-width: 50%;
  display: inline;
}
.index-pat-text1{
  display: inline;
}
.index-pat-text2{
  /*float: left;*/
  float:right;
}

/*=============*/
.app-div{
  width: 100%;
  max-height: 500px;
  background-color: #C7D7E8;
  float: left;
  padding-top:20px;
}
.left-half{
  width: 45%;
  float: left;
}
.left-half h2{
  font-size:150%;
}
.right-half{
  width:55%;
  float: right;
  padding-left: 10%;
}
.upper{
  width:100%;
  height:50%;
  /*padding-left: 10%;*/
}
.upper img{
  width:55%;
  height: auto;
  padding-bottom: 0;
}
.round-img{
  width: 130px;
  height: 130px;
  border-radius: 100px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
#upleft{
  float: left;
  margin-right: 5%;
}
#upright{
}
#dnleft{
  float: left;
  margin-right: 5%;
}
#dnright{
}
.lower{
  width: 100%;
  height:50%;
}
.lower img{
  width:55%;
  height: auto;
  padding-bottom: 0;
}
/*==============================================*/
.faq{
  width:100%;
  float: left;
  background-color: #C7BDCA;
  padding-top:2%;
  padding-bottom: 2%;
}
.faq h1{
  margin: 0 auto;
  font-size: 220%;
  text-align: center;
}
.faq p{
  text-align: center;
  font-size: 150%;
}
#first{
  float: left;
  width: 100%;
  background: #632873;
}
#first-footer{
width: 100%;
padding-top: 1%;
}
#first-footer h4{
  text-align: center;
  font-size: 130%;
  color: #68737B;
}
.social{
  width: 100%;
  align-items:  center;
  display: flex;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 0.5%;
}
.social li{
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
}
.social i{
  font-size: 200%;
  margin: 1%;
  padding: 8% 8% 8% 8%;
  color: #68737B;
}
.social i:hover{
  color:#B2ADB3;
}
#second {
  float: left;
  background: #6F2F73;
  width: 100%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
#second p{
  font-size: 100%;
  font-family: Poppins-Medium;
  width: 100%;
  color: rgb(164, 155, 165);
  align-items:  center;
  display: flex;
  justify-content: center;
}
/*sticky header*/
.sticky {
  position: fixed;
}


/*======media query=====*/
@media screen and (max-width:768px){
  header{
    position: absolute;
    height: 80px;
  }
  #menu-icon{
    display: inline-block;
  }
  nav ul, nav:active ul{
    display: none;
    z-index: 1000;
    position: absolute;
    background: rgb(223, 201, 230);
    right:40px;
    top: 60px;
    width: 30%;
  }
  nav:hover ul{
    display: block;
  }
  nav li{
    text-align: center;
    width: 100%;
    padding-top: 10px;
  }
  nav li:hover{
    background-color: rgb(105, 89, 105);
  }
  nav ul li a:hover{
    color:whitesmoke;
    padding: 0;
    background-color: rgb(105, 89, 105);
  }
  #logo{
    margin:7px;
    width: 150px;
    height:50px;
    float:left;
    display: block;
  }
  #first-page img{
    padding-bottom: 0;
    height: auto;
    width: 100%;
    float: left;
    }
}
@media screen and (max-width:768px){
  .pat-card-text{
    font-size: 90%;
    padding-bottom: 2px;
  }
  .index-pat-card2{
    width: 200px;
  }
  aside h2{
    font-size: 140%;
  }
  aside p{
    font-size: 100%;
  }
  article h2{
    font-size: 140%;
  }
  article p{
    font-size: 100%;
  }
}
@media screen and (max-width:660px){
  .index-pat-card2{
    width: 150px;
  }
  aside h2{
    font-size: 130%;
  }
  aside p{
    font-size: 90%;
  }
  article h2{
    font-size: 130%;
  }
  article p{
    font-size: 90%;
  }
  article i{
    padding-left: 9%;
  }
}
@media screen and (max-width:555px){
  #menu-icon{
    width:25px;
    height:25px;
  }
  aside h2{
    font-size: 120%;
  }
  aside p{
    font-size: 80%;
  }
  article h2{
    font-size: 120%;
  }
  article p{
    font-size: 80%;
  }
  .index-pat-card2{
    width: 100px;
  }
  article i{
    padding-left: 7%;
  }
}